<% include ./partials/header %>

<div class="container">
  <form >
<h1>Add new blog</h1>
  <div class="form-group">
    <label for="bTitle">Blog Title</label>
    <input type="text" class="form-control" id="bTitle" placeholder="Blog Title" />
  </div>

  <div class="form-group">
    <label for="bSubtitle">Blog Subtitle</label>
    <input type="text" class="form-control" id="bSubtitle" placeholder="Blog Subtitle" />
  </div>

  <div class="form-group">
    <label for="bimage">Blog Commercial Image URL</label>
    <input type="text" class="form-control" id="bImage" placeholder="Blog Commercial Image URL" />
  </div>



  <% include ./partials/footer %>
</div>
